
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:"Poppins",sans-serif;list-style:none;text-decoration:none}.container{max-width:1260px;margin:0 auto;width:95%}.header{background-color:#fff;padding-top:56px;padding-bottom:56px}.header .header__container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.header .logo img{max-width:100%;height:auto}.header .search{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:0}.header .search .all_categories{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#151515;border:1px solid #d1d1d1;background-color:#f5f5f5;padding:10px 15px;border-radius:12px 0 0 12px;cursor:pointer}.header .search .all_categories strong{font-size:14px;margin-right:10px}.header .search .all_categories img{width:12px;height:auto;-webkit-transition:all 1s ease-in-out;transition:all 1s ease-in-out}.header .search .input{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#f5f5f5;border-radius:0 12px 12px 0;padding:10px 15px;border:1px solid #d1d1d1;width:400px}.header .search .input input{border:none;background-color:rgba(0,0,0,0);outline:none;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;font-size:14px;color:#151515}.header .search .input input::-webkit-input-placeholder{color:#626262}.header .search .input input::-moz-placeholder{color:#626262}.header .search .input input:-ms-input-placeholder{color:#626262}.header .search .input input::-ms-input-placeholder{color:#626262}.header .search .input input::placeholder{color:#626262}.header .search .input img{width:20px;height:auto;cursor:pointer}.header .auth{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:25px}.header .auth img{width:24px;height:auto;cursor:pointer;-webkit-transition:all 1s ease-in-out;transition:all 1s ease-in-out}.header .auth img:hover{-webkit-transform:scale(1.1);transform:scale(1.1)}.dropdown{background:#f9f9f9;padding:16px 0}.dropdown .dropdown__container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.dropdown .dropdown__container ul{display:-webkit-box;display:-ms-flexbox;display:flex;gap:40px;list-style:none;padding:0;margin:0}.dropdown .dropdown__container ul li a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-decoration:none;color:#151515}.dropdown .dropdown__container ul li a img{width:20px;height:auto;margin-right:10px}.dropdown .dropdown__container ul li a span{font-size:16px}.dropdown .dropdown__container ul li a:hover{color:#6a983c}.hero{margin-top:64px}.hero .hero__container{display:-webkit-box;display:-ms-flexbox;display:flex;gap:45px}.hero .hero__container .category_menu{width:269px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:32px}.hero .hero__container .category_menu h3{margin-bottom:16px}.hero .hero__container .category_menu ul{list-style-type:none;padding:0}.hero .hero__container .category_menu ul li a{display:block;color:#6a983c;border-bottom:2px solid #6a983c;padding:8px 0}.hero .hero__container .category_menu .more_a_img{width:185px;height:48px;background-color:#f5f5f5;border-radius:12px;font-family:"Poppins",sans-serif;font-weight:700;font-size:15px;line-height:22px}.hero .hero__container .category_menu .active a{color:#6a983c;border-bottom:2px solid #6a983c}.hero .hero__container .category_menu a{width:70%;font-family:"Open Sans",sans-serif;font-weight:400;font-size:14px;line-height:19px;padding:12px 16px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.hero .hero__container .category_menu a:hover{width:70%;font-weight:700;color:#4a692a;border-bottom:4px solid #6a983c}.hero .hero__container .category_menu a img{margin-left:8px}.hero .hero__container .banner{width:419px;height:350px;border-radius:12px;background-image:url(/images/hero_bg_img.png);background-size:cover;background-position:center;padding:33px 48px}.hero .hero__container .banner p{margin:0}.hero .hero__container .banner h2{margin:16px 0;margin-bottom:114px}.hero .hero__container .banner a{padding:12px 16px;border:2px solid #92c064;border-radius:12px;display:inline-block;margin-top:16px}/*# sourceMappingURL=main.css.map */
=======

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  width: 95%;
}

.blog {
  min-height: 100dvh;
  padding-top: 64px;
}
.blog .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
.blog .blog-content h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #151515;
}
.blog .blog-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  color: #151515;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.blog .blog-content a:hover {
  color: #6A983C;
}
.blog .blog-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
}
.blog .blog-images .first-dinner-img {
  position: relative;
}
.blog .blog-images .first-dinner-img img {
  position: relative;
  z-index: -1;
}
.blog .blog-images .first-dinner-img span {
  position: absolute;
  left: 24px;
  top: 24px;
  padding-left: 8px;
  padding-right: 8px;
  background: #F4F8EC;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #6A983C;
}
.blog .blog-images .first-dinner-img .first-dinner-img-content {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.blog .blog-images .first-dinner-img .first-dinner-img-content h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: #FFFFFF;
  max-width: 380px;
  margin-bottom: 8px;
}
.blog .blog-images .first-dinner-img .first-dinner-img-content .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.blog .blog-images .first-dinner-img .first-dinner-img-content .author .person-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.blog .blog-images .first-dinner-img .first-dinner-img-content .author .person-author small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: white;
}
.blog .blog-images .first-dinner-img .first-dinner-img-content .author data {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: white;
}
.blog .blog-images .second-dinner-img .second-dinner-img-content {
  margin-top: 24px;
}
.blog .blog-images .second-dinner-img .second-dinner-img-content span {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #6A983C;
  background: #F4F8EC;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 12px;
}
.blog .blog-images .second-dinner-img .second-dinner-img-content h3 {
  max-width: 267px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #151515;
  margin-top: 8px;
}
.blog .blog-images .second-dinner-img .second-dinner-img-content .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.blog .blog-images .second-dinner-img .second-dinner-img-content .date small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: #151515;
}
.blog .blog-images .second-dinner-img .second-dinner-img-content .date data {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: #151515;
}
.blog .blog-images .right-dinner-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.blog .blog-images .right-dinner-images .first-right-dinner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}
.blog .blog-images .right-dinner-images .first-right-dinner-image .first-right-dinner-image-content h3 {
  max-width: 285px;
}
.blog .blog-images .right-dinner-images .first-right-dinner-image .first-right-dinner-image-content .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.blog .blog-images .right-dinner-images .first-right-dinner-image .first-right-dinner-image-content .date small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: #151515;
}
.blog .blog-images .right-dinner-images .first-right-dinner-image .first-right-dinner-image-content .date data {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: #151515;
}
footer {
  padding: 64px 45px;
  height: 556px;
}
footer .footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: start;
}
footer .footer__container .footer__container-nav {
  display: flex;
  -moz-column-gap: 200px;
       column-gap: 200px;
  align-items: start;
  width: 100%;
  justify-content: space-between;
}
footer .footer__container .footer__container-nav .navigation-item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
}
footer .footer__container .footer__container-nav .navigation-item .item-heading {
  font-weight: 600;
  color: #151515;
  font-size: 18px;
  line-height: 27px;
}
footer .footer__container .footer__container-nav .navigation-item .footer__container-subnavigation {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
}
footer .footer__container .footer__container-nav .navigation-item .footer__container-subnavigation li {
  color: #6A983C;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}
footer .footer__container .footer__container-tags {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
}
footer .footer__container .footer__container-tags h2 {
  font-weight: 600;
  color: #2F3341;
  font-size: 18px;
  line-height: 27px;
}
footer .footer__container .footer__container-tags .footer__tags {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
footer .footer__container .footer__container-tags .footer__tags .tag {
  color: #151515;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 10px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 12px;
}
footer .footer__container .footer__container-copyright {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}/*# sourceMappingURL=main.css.map */

*{margin:0;padding:0;box-sizing:border-box;font-family:"Poppins",sans-serif;list-style:none;text-decoration:none}.container{max-width:1260px;margin:0 auto;width:95%}.cards__container{display:flex;align-items:center;justify-content:space-between;margin-bottom:128px}.admin{display:flex;align-items:start;flex-direction:column;gap:16px}.admin .admin__title{font-size:18px;font-weight:600;color:#151515}.admin .admin__links{display:flex;align-items:start;flex-direction:column}.admin .admin__links a{color:#6a983c;font-family:"Open Sans";font-size:14px;text-decoration:underline;gap:12px;transition:all .3s ease-in-out}.admin .admin__links a:hover{transform:scale(1.1);text-decoration:none}.admin .admin__button{margin-top:32px;color:#151515;background-color:#f5f5f5;padding:12px 16px;border-radius:12px;display:flex;align-items:center;gap:6;transition:all .3s ease-in-out}.admin .admin__button span{font-weight:700;font-size:15px}.admin .admin__button:hover{background-color:#c6c5c5}.cards{display:flex;align-items:center;gap:32px}.cards .card{position:relative;border:1px solid #d1d1d1;border-radius:12px;padding:16px;display:flex;align-items:start;flex-direction:column;max-width:269px;gap:4px}.cards .card .card__title{color:#151515;font-weight:500;font-size:15px}.cards .card .card__subtitle{color:#575757;font-family:Open Sans;font-size:12px;font-weight:400;line-height:16.34px;margin-bottom:12px}.cards .card .card__wrapper{display:flex;align-items:center;gap:70px}.cards .card h5{color:#a9a9a9;font-weight:600;font-size:12px;text-decoration:line-through}.cards .card h4{color:#6a983c;background-color:#f4f8ec;border-radius:12px;font-weight:600;font-size:12px;position:absolute;top:8%;left:10%}.card__wrapper span{color:#151515;font-weight:600;font-size:18px}.card__wrapper a{background-color:#6a983c;border:#46760a,2px solid;border-radius:12px;color:#fff;font-weight:700;font-size:14px;padding:4px 10px;transition:all .3s ease-in-out}.card__wrapper a:hover{background-color:rgba(0,0,0,0);color:#46760a}.bottom-cards__container{display:flex;align-items:center;flex-direction:column;gap:32px}.cards-info{display:flex;align-items:center;gap:900px}.cards-info h2{font-size:18px;color:#151515;font-weight:600}.cards-info button{border:none;background-color:rgba(0,0,0,0);display:flex;align-items:center;font-weight:600;font-size:18px;cursor:pointer;transition:all .3s ease-in-out}.cards-info button:hover{text-decoration:underline}.cards-two{display:flex;align-items:center;gap:32px;margin-bottom:120px}.cards-two .card{position:relative;border:1px solid #d1d1d1;border-radius:12px;padding:16px;display:flex;align-items:start;flex-direction:column;max-width:269px;gap:4px}.cards-two .card .card__title{color:#151515;font-weight:500;font-size:15px}.cards-two .card .card__subtitle{color:#575757;font-family:Open Sans;font-size:12px;font-weight:400;line-height:16.34px;margin-bottom:12px}.cards-two .card .card__wrapper{display:flex;align-items:center;gap:70px}.cards-two .card h5{color:#a9a9a9;font-weight:600;font-size:12px;text-decoration:line-through}.cards-two .card h4{color:#6a983c;background-color:#f4f8ec;border-radius:12px;font-weight:600;font-size:12px;position:absolute;top:8%;left:10%}/*# sourceMappingURL=main.css.map */

