$primary-color: #6A983C;
$text-color: #151515;
$transition: all 1s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  width: 95%;
}